/* body */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

/* logo-label */
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

/* body */
body {
  font-family: "Tajawal", serif;
  font-weight: 400;
  font-style: normal;
}

/* logo-label */
.logo-label {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
